@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding-left: 0px;
}

ul li {
	list-style-type: none;
}

img {
	width: 100%;
}

a,
a:visited,
a:active {
	text-decoration: inherit;
	color: inherit;
}

a:hover,
a:visited:hover,
a:active:hover {
	text-decoration: underline;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	background-color: white;
}

.white-bg {
	background-color: white;
}

.grey-bg {
	background-color: #f0f0f0;
}

.padding {
	padding: 4rem 0;
}

.no-pad {
	padding-top: 0;
}

section,
footer {
	padding: 6rem 6vw;
}

header {
	padding: 10px 6vw;
}

@media screen and (max-width: 1200px) {
	section,
	footer {
		height: unset;
		min-height: 100%;
		padding: 4rem 4vw;
	}
	header {
		padding: 10px 4vw;
	}
}

@media screen and (max-width: 720px) {
	.padding {
		padding: 2rem 0;
	}
	section,
	footer {
		padding: 2rem 2rem;
	}
	header {
		padding: 10px 2rem;
	}
}

@media screen and (max-width: 500px) {
	.padding {
		padding: 2rem 0;
	}
	section,
	footer {
		padding: 4rem 1rem;
	}
	header {
		padding: 10px 1rem;
	}
}

@font-face {
	font-family: "Graphik";
	font-weight: normal;
	src: url("fonts/commercial-type-2007-BJTQBX-desktop/graphik/Graphik-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Graphik";
	font-weight: bold;
	src: url("fonts/commercial-type-2007-BJTQBX-desktop/graphik/Graphik-Semibold.otf") format("opentype");
}

@font-face {
	font-family: "Compacta";
	font-weight: normal;
	src: url("fonts/Compacta Regular/ITC - CompactaPro-Regular.otf") format("opentype");
}

body {
	color: #000e1e;
	font-weight: 300;
	font-family: "Graphik";
}

h1 {
	font-family: "Compacta";
	line-height: 3.4rem;
	font-size: 2.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.5rem;
	font-weight: 600;
}

h3 {
	font-size: 2rem;
	font-weight: 600;
}

h4 {
	font-size: 1.8rem;
	font-weight: 600;
}

h5 {
	font-size: 1.2rem;
	font-weight: 600;
}

p {
	line-height: 1.6rem;
	font-weight: 200;
}

strong {
	font-weight: 600;
}

@media screen and (min-width: 600px) {
	.swipe-left {
		transform: translateX(-100px);
	}
	.swipe-right {
		transform: translateX(100px);
	}
	.swipe-down {
		transform: translateY(-100px);
	}
	.swipe-up {
		transform: translateY(100px);
	}
	.fade-in {
		opacity: 0;
	}
}

.transition {
	transition: opacity 1.5s, transform 1.2s;
}

.transition--slow {
	transition: opacity 5s, transform 30s;
}

.appear {
	opacity: 1;
}

.position {
	transform: translate(0px, 0px);
}

.delay-1 {
	transition-delay: 0.25s !important;
}

.delay-2 {
	transition-delay: 0.5s;
}

.delay-3 {
	transition-delay: 0.75s;
}

.delay-4 {
	transition-delay: 1s;
}

.delay-5 {
	transition-delay: 1.25s;
}

.bg-default, .icon-before, .scroll-down::before {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.icon-before, .scroll-down::before {
	content: "";
	position: relative;
	display: inline-block;
}

.bg-img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bg-logo {
	position: absolute;
	z-index: -1;
	fill: #f4f4f4;
}

.bg-text {
	position: absolute;
	z-index: -1;
	color: #f4f4f4;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #fff;
	margin: 1em 0;
	padding: 0;
}

.swiper-container {
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding-bottom: 3.5rem;
}

.swiper-pagination-bullet {
	margin: 0rem 12px !important;
	width: 20px;
	height: 20px;
	border-radius: 0;
	background-color: #181818;
	border: 2px solid #0030ff;
	opacity: 1;
}

.swiper-pagination-bullet:active {
	outline: none;
}

.swiper-pagination-bullet-active {
	background-color: #0030ff;
}

.swiper-slide {
	padding: 2rem;
	line-height: 1.6rem;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.hamburger:hover {
	opacity: 0.7;
}

.hamburger-box {
	width: 45px;
	height: 12px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -1px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 45px;
	height: 2px;
	background-color: white;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -5px;
}

.hamburger-inner::after {
	bottom: -5px;
}

.is-active:hover {
	opacity: 0.7;
}

.is-active .hamburger-inner,
.is-active .hamburger-inner::before,
.is-active .hamburger-inner::after {
	background-color: white;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
	transition-duration: 0.075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
	transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
	transform: rotate(45deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.chocolat-zoomable.chocolat-zoomed {
	cursor: zoom-out;
}

.chocolat-open {
	overflow: hidden;
}

.chocolat-overlay {
	transition: opacity 0.4s ease, visibility 0s 0.4s ease;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
}

.chocolat-overlay.chocolat-visible {
	transition: opacity 0.4s, visibility 0s;
	visibility: visible;
	opacity: 0.8;
}

.chocolat-wrapper {
	transition: opacity 0.4s ease, visibility 0s 0.4s ease;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	left: 0;
	top: 0;
	z-index: 16;
	color: #fff;
	visibility: hidden;
}

.chocolat-wrapper.chocolat-visible {
	transition: opacity 0.4s, visibility 0s;
	opacity: 1;
	visibility: visible;
}

.chocolat-zoomable .chocolat-img {
	cursor: zoom-in;
}

.chocolat-loader {
	transition: opacity 0.3s;
	height: 32px;
	width: 32px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	z-index: 11;
	background: url(../images/loader.gif);
	opacity: 0;
}

.chocolat-loader.chocolat-visible {
	opacity: 1;
}

.chocolat-image-wrapper {
	position: fixed;
	width: 0px;
	height: 0px;
	left: 50%;
	top: 50%;
	z-index: 14;
	text-align: left;
	transform: translate(-50%, -50%);
}

.chocolat-image-wrapper .chocolat-img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.chocolat-wrapper .chocolat-left {
	width: 50px;
	height: 100px;
	cursor: pointer;
	background: url(../images/left.png) 50% 50% no-repeat;
	z-index: 17;
	visibility: hidden;
}

.chocolat-layout {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.chocolat-image-canvas {
	transition: opacity 0.2s;
	opacity: 0;
	flex-grow: 1;
	align-self: stretch;
}

.chocolat-image-canvas.chocolat-visible {
	opacity: 1;
}

.chocolat-center {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.chocolat-wrapper .chocolat-right {
	width: 50px;
	height: 100px;
	cursor: pointer;
	background: url(../images/right.png) 50% 50% no-repeat;
	z-index: 17;
	visibility: hidden;
}

.chocolat-wrapper .chocolat-right.active {
	visibility: visible;
}

.chocolat-wrapper .chocolat-left.active {
	visibility: visible;
}

.chocolat-wrapper .chocolat-top {
	height: 50px;
	overflow: hidden;
	z-index: 17;
	flex-shrink: 0;
}

.chocolat-wrapper .chocolat-close {
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/close.png) 50% 50% no-repeat;
}

.chocolat-wrapper .chocolat-bottom {
	height: 40px;
	font-size: 12px;
	z-index: 17;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(0, 0, 0, 0.2);
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.chocolat-wrapper .chocolat-set-title {
	display: inline-block;
	padding-right: 15px;
	line-height: 1;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.chocolat-wrapper .chocolat-pagination {
	float: right;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 15px;
	/*border-right: 1px solid rgba(255, 255, 255, 0.2);*/
}

.chocolat-wrapper .chocolat-fullscreen {
	width: 16px;
	height: 40px;
	background: url(../images/fullscreen.png) 50% 50% no-repeat;
	display: block;
	cursor: pointer;
	float: right;
}

.chocolat-wrapper .chocolat-description {
	display: inline-block;
	flex-grow: 1;
	text-align: left;
}

/* no container mode*/
body.chocolat-open > .chocolat-overlay {
	z-index: 15;
}

body.chocolat-open > .chocolat-loader {
	z-index: 15;
}

body.chocolat-open > .chocolat-image-wrapper {
	z-index: 17;
}

/* container mode*/
.chocolat-in-container .chocolat-wrapper,
.chocolat-in-container .chocolat-image-wrapper,
.chocolat-in-container .chocolat-overlay {
	position: absolute;
}

.chocolat-in-container {
	position: relative;
}

.chocolat-zoomable.chocolat-zooming-in .chocolat-image-wrapper,
.chocolat-zoomable.chocolat-zooming-out .chocolat-image-wrapper {
	transition: width 0.2s ease, height 0.2s ease;
}

.chocolat-zoomable.chocolat-zooming-in .chocolat-img,
.chocolat-zoomable.chocolat-zooming-out .chocolat-img {
	transition: margin 0.2s ease;
}

/* uncomment to hide controls when zoomed-in*/
/*
.chocolat-zoomable .chocolat-top,
.chocolat-zoomable .chocolat-bottom,
.chocolat-zoomable .chocolat-right,
.chocolat-zoomable .chocolat-left {
    transition: opacity .3s ease, visibility 0s .3s;
   opacity: 1;
}

.chocolat-zoomable.chocolat-zoomed .chocolat-top,
.chocolat-zoomable.chocolat-zoomed .chocolat-bottom,
.chocolat-zoomable.chocolat-zoomed .chocolat-right,
.chocolat-zoomable.chocolat-zoomed .chocolat-left {
    visibility: hidden;
    opacity: 0;
}
*/
.chocolat-overlay {
	background-color: #000;
}

.col {
	float: left;
	padding: 0 20px;
	box-sizing: border-box;
	display: block;
}

.five-cols .col {
	width: 20%;
}

.four-cols .col {
	width: 25%;
}

.three-cols .col {
	width: 33.33%;
}

.two-cols .col {
	width: 50%;
}

.fifths .col {
	width: 20%;
}

.two-thirds, .banner p, .banner--small p {
	width: 66.66%;
}

.one-third {
	width: 33.33%;
}

.text-block.col {
	padding: 4em;
}

.col > *:first-child {
	padding-top: 0px;
	margin-top: 0px;
}

@media only screen and (max-width: 900px) {
	.two-cols .col,
	.three-cols .col {
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.four-cols .col {
		width: 50%;
		float: none;
		clear: none;
		margin-bottom: 1em;
	}
}

@media only screen and (max-width: 720px) {
	.four-cols .col {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.col {
		width: 100%;
	}
}

section {
	overflow: hidden;
	position: relative;
}

.section-mid {
	height: 85vh;
	min-height: 450px;
}

.section-link {
	position: relative;
	display: inline-block;
	flex-direction: column;
	width: 100%;
}

.grey-bg {
	background: #f0f0f0;
}

.grey-bg--bottom {
	background: white;
	background: linear-gradient(0deg, #f0f0f0 50%, white 50%);
}

.grey-bg--top {
	background: #f0f0f0;
	background: linear-gradient(0deg, white 50%, #f0f0f0 50%);
}

.cf {
	position: relative;
}

.cf:after {
	content: "";
	display: table;
	width: 100%;
	height: 1px;
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.wrap {
	max-width: 1250px;
	margin: 0 auto;
	position: relative;
}

.wrap-tight {
	max-width: 1010px;
	margin: 0 auto;
	position: relative;
}

.align-center {
	display: flex;
	align-items: center;
}

.row,
.flex {
	display: flex;
}

/* Nav */
.site-header {
	z-index: 9997;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px;
}

.site-header .wrap {
	overflow: hidden;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header .row {
	align-items: center;
}

.site-header .btn-social {
	margin-left: 2vw;
}

.mask {
	background-color: #0030ff;
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	height: 0;
	opacity: 0;
	transition: 0.5s;
}

.nav-mask--active {
	height: 100%;
	opacity: 1;
	transition: 0.3s;
}

.menu {
	z-index: 9999;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	height: 100%;
	display: flex;
	align-items: center;
}

.menu .current_page_item {
	color: #fcdd3d;
}

.menu li {
	display: inline-block;
	margin-left: 2vw;
}

.menu li a {
	text-decoration: none;
}

.menu li a:hover {
	transition: 0.3s;
	color: #fcdd3d;
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	.menu {
		flex-direction: column;
	}
	.social-btns {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.sidenav {
		opacity: 0;
		transform: translateX(-35vw);
		height: 100%;
		/* 100% Full-height */
		width: 35vw;
		/* 0 width - change this with JavaScript */
		position: fixed;
		/* Stay in place */
		z-index: 6;
		/* Stay on top */
		top: 0;
		/* Stay at the top */
		left: 0;
		background-color: #0030ff;
		/* Black*/
		overflow-x: hidden;
		/* Disable horizontal scroll */
		padding-top: 60px;
		/* Place content 60px from the top */
		transition: transform 0.5s;
		/* 0.5 second transition effect to slide in the sidenav */
	}
}

@media screen and (max-width: 900px) and (max-width: 650px) {
	.sidenav {
		width: 45vw;
		transform: translateX(-45vw);
	}
}

@media screen and (max-width: 900px) and (max-width: 550px) {
	.sidenav {
		width: 55vw;
		transform: translateX(-55vw);
	}
}

@media screen and (max-width: 900px) and (max-width: 400px) {
	.sidenav {
		width: 85vw;
		transform: translateX(-85vw);
	}
}

@media screen and (max-width: 900px) {
	.sidenav-open .sidenav {
		opacity: 1;
		transform: translateX(0);
	}
	.sidenav-open > #menu-toggle svg {
		transition: fill 1s;
		fill: white;
	}
	.menu {
		margin-top: 3rem;
	}
	/* The navigation menu links */
	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-weight: 500;
		font-size: 1.2rem;
		letter-spacing: 2px;
		padding: 1rem 1.2rem;
		border-top: 1px solid white;
		text-transform: uppercase;
		text-align: right;
		color: white;
		display: block;
		transition: 0.3s;
	}
	/* When you mouse over the navigation links, change their color */
	/* Position and style the close button (top right corner) */
	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
		transition: margin-left 0.5s;
	}
}

/*
------------------------------------------------
   Navicon
------------------------------------------------
*/
@media screen and (min-width: 900px) {
	#menu-toggle {
		display: none;
	}
}

/* banners */
.banner, .banner--small {
	height: 100vh;
	min-height: 600px;
	color: white;
}

.banner h1, .banner--small h1 {
	font-weight: unset;
	font-size: 8rem;
	text-transform: uppercase;
	line-height: 8rem;
}

.banner--small {
	min-height: unset;
	height: 500px;
	display: relative;
}

.skyline {
	position: absolute;
	bottom: -30px;
	right: -25px;
	width: 300px;
	height: 125px;
}

.banner, .banner--small {
	height: 100vh;
	min-height: 600px;
	color: white;
}

.banner h1, .banner--small h1 {
	font-weight: unset;
	font-size: 8rem;
	text-transform: uppercase;
	line-height: 8rem;
}

.banner--small {
	min-height: unset;
	height: 500px;
	display: relative;
}

.skyline {
	position: absolute;
	bottom: -30px;
	right: -25px;
	width: 300px;
	height: 125px;
}

/* buttons */
a.link {
	color: #0030ff;
	text-decoration: underline;
}

a.link:hover {
	color: #0126c9;
}

.btn-link,
a.btn-link {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 225px;
	padding: 15px 1.5rem;
	border-radius: 50px;
	color: #0030ff;
	border: 2px solid #0030ff;
	background-color: white;
}

.btn-link:after,
a.btn-link:after {
	content: "";
	display: inline-block;
	margin-left: 1.2rem;
	width: 27px;
	height: 20px;
	background-image: url("./icons/arrow.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.2s;
}

.btn-link:hover,
a.btn-link:hover {
	border-color: #333;
	color: #333;
}

.btn-link:hover::after,
a.btn-link:hover::after {
	transition: 0.2s;
	margin-left: 1.5rem;
}

.scroll-down {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
}

.scroll-down::before {
	background-image: url("../../../images/scroll-down.png");
	width: 27px;
	height: 27px;
	margin-right: 12px;
	top: 7px;
}

.socials {
	max-width: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.socials .btn {
	margin: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	width: 55px;
	height: 55px;
	border: 1px solid #66b0db;
	transition: color 0.3s, font-size 0.3s;
}

.socials .btn:hover {
	color: #eee;
	font-size: 1.4rem;
}

/* forms */
.wpcf7 .row {
	margin: 10px;
}

.wpcf7 div {
	margin: 0;
	padding: 0;
}

.wpcf7 button {
	margin-top: 2rem;
	width: 175px;
	margin-left: auto;
	cursor: pointer;
}

.wpcf7 .row .wpcf7-form-control-wrap {
	margin: 0 5px;
}

input,
textarea {
	display: block;
	border: none;
	position: relative;
	width: 100%;
	padding: 10px;
	font-size: 1.1rem;
	font-weight: 200;
}

.textarea-16 {
	padding: 0 15px;
	display: block;
}

textarea {
	width: 100%;
	font-family: inherit;
}

.form p {
	font-size: 1.2rem;
}

.form li {
	font-size: 1.6rem;
	margin: 2rem 0;
}

@media screen and (max-width: 900px) {
	.form .info {
		margin-bottom: 2rem;
	}
	.form .info p {
		margin-top: 5px;
		padding: 0 10px;
	}
	.form .info ul {
		margin: 2rem 0;
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
	.form .info ul li {
		font-size: 1.2rem;
		margin: 0;
	}
}

.checkers {
	clear: both;
	display: block;
}

.checkbox {
	float: left;
	width: 20px;
	height: 20px;
}

.check-label {
	float: left;
	font-size: 0.8em;
}

.checkboxes {
	margin-bottom: 2em;
}

/* forms */
footer {
	background-color: #0030ff;
	font-size: 0.8rem;
	height: 400px;
	color: white;
}

footer strong {
	font-weight: 600;
}

footer p {
	padding: 0;
	margin: 0;
}

footer .row {
	justify-content: space-between;
	padding: 1rem 0;
}

footer .row:nth-child(1) {
	border-bottom: 1px solid white;
}

footer .row .social-btns {
	margin-top: auto;
}

footer .row .social-btns .btn-social {
	margin-left: 35px;
}

.span-blue {
	color: #0030ff !important;
}

.span-roman {
	font-family: "Times New Roman", Times, serif;
}

.ul {
	text-decoration: underline;
}

.span-underline {
	top: -10px;
	padding-bottom: -10px;
	background-image: linear-gradient(#00000000 50%, #0030ff 50%);
	background-position: 0 100%;
	/*OR bottom left*/
	background-size: 0% 2px;
	background-repeat: no-repeat;
	transition: background-size 0.3s ease-in, background-position 0s 0.3s ease-in;
	/*change after the size immediately*/
}

.span-underline:hover {
	background-position: 100% 100%;
	/*OR bottom right*/
	background-size: 100% 10px;
}

.span-author {
	color: #959595;
	font-size: 0.75rem;
	text-transform: uppercase;
}

.open-quotes::before {
	content: "“";
}

.close-quotes::after {
	content: "”";
}

.icon:after {
	content: "";
	display: inline-block;
	width: 27px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.2s;
}

.text-block__homepage p {
	font-size: 1.2rem;
	max-width: 700px;
}

.text-block__homepage--link p {
	float: left;
}

.text-block__homepage--link a.btn-link {
	margin-left: auto;
}

@media screen and (max-width: 720px) {
	.text-block__homepage--link p {
		width: 100%;
		margin-bottom: 2rem;
	}
}

.panels {
	padding: 0;
	min-height: unset;
}

.panels a {
	color: white;
}

.panels .row {
	height: 100%;
	width: 100%;
}

.panels .panel {
	padding: 1rem;
	position: relative;
	width: 100%;
	min-width: 200px;
	height: 100%;
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.panels .panel h2 {
	text-transform: uppercase;
	font-size: 3rem;
	z-index: 1;
}

.panels .panel::after {
	content: "";
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	transition: 1s;
}

.panels .panel:hover::after {
	opacity: 0;
	transform: scale(0.75);
	transition: 0.3s;
}

@media screen and (max-width: 900px) {
	.panels .row-container {
		flex-direction: column;
	}
}

@media screen and (max-width: 500px) {
	.panels .row {
		flex-direction: column;
	}
}

.swiper-slide {
	width: 300px;
}

.swiper-slide p {
	margin-top: 1rem;
}

.hover-card {
	overflow: hidden;
	position: relative;
}

.hover-card::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: #0030ff;
	opacity: 1;
}

.hover-card .hover-card__link {
	width: 100%;
	color: white;
	font-size: 1.2rem;
	position: absolute;
	display: inline-flex;
	bottom: 10px;
	left: 0;
	z-index: 2;
	opacity: 0;
	padding: 0 15px;
}

.hover-card .hover-card__link::after {
	content: "";
	background-image: url("./icons/arrow-blue.jpg");
	margin-left: auto;
}

.hover-card:hover:after {
	height: 100%;
	transition: 0.25s ease-out;
}

.hover-card:hover .hover-card__link {
	opacity: 1;
	transition: 0.5s;
}

.loop-container {
	display: flex;
	justify-content: center;
}

.loop-container--grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.client-logo {
	margin: 10px;
	max-width: 175px;
}

@supports (gap: 1) {
	.loop-container--grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.client-logo {
		margin: 0;
	}
}

@media screen and (max-width: 1200px) {
	.loop-container--grid {
		justify-content: center;
	}
	.client-logo {
		max-width: 125px;
	}
}

/*# sourceMappingURL=style.css.map */