@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0px;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

a,
a:visited,
a:active {
  text-decoration: inherit;
  color: inherit;
}
a:hover,
a:visited:hover,
a:active:hover {
  text-decoration: underline;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
}

.wrap-tight {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.padding {
  padding: 6rem 0;
}

.no-pad {
  padding-top: 0;
}

.header-pad {
  padding: 1rem 6vw;
}

section,
footer {
  padding: 6rem 6vw;
}

@media screen and (max-width: 1200px) {
  section,
footer {
    height: unset;
    min-height: 100%;
    padding: 4rem 4vw;
  }

  .padding {
    padding: 4rem 4vw;
  }

  .header-pad {
    padding: 10px 4vw;
  }
}
@media screen and (max-width: 720px) {
  .padding {
    padding: 4rem 0;
  }

  section,
footer {
    padding: 4rem 2rem;
  }

  .header-pad {
    padding: 10px 2rem;
  }
}
@media screen and (max-width: 500px) {
  .padding {
    padding: 2rem 0;
  }

  section,
footer {
    padding: 4rem 1rem;
  }

  .header-pad {
    padding: 10px 1rem;
  }
}
.h-max {
  height: 100%;
}

.w-half {
  width: 50%;
}

@media screen and (max-width: 720px) {
  .w-half {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .w-half {
    width: 90%;
  }
}
:root {
  background-color: white;
}

.white-bg {
  background-color: white;
}

.blue-bg {
  background-color: #27354f;
  color: white;
}

.grey-bg {
  background-color: #f0f0f0;
}

.text-white {
  color: white;
}

body {
  color: #28354f;
  font-weight: 500;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  line-height: 1.8rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

strong {
  font-weight: 600;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #fff;
  margin: 1em 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
}

@media screen and (max-width: 720px) {
  html,
body {
    font-size: 17px;
  }
}
@media screen and (max-width: 500px) {
  html,
body {
    font-size: 16px;
  }
}
.text-head {
  font-size: 4rem;
}

.text-xl {
  font-size: 1.6rem;
}

.text-l {
  font-size: 1.3rem;
  line-height: 2.1rem;
}

.text-s {
  font-size: 0.75rem;
}

.font-secondary {
  font-family: arial, cursive;
}

@media screen and (min-width: 500px) {
  .swipe-left {
    transform: translateX(-100px);
  }

  .swipe-right {
    transform: translateX(100px);
  }

  .swipe-down {
    transform: translateY(-100px);
  }

  .swipe-up {
    transform: translateY(100px);
  }

  .fade-in {
    opacity: 0;
  }
}
.trans {
  transition: opacity 1.5s, transform 1.2s;
}

.trans--slow {
  transition: opacity 5s, transform 30s;
}

.appear {
  opacity: 1;
}

.position {
  transform: translate(0px, 0px);
}

.delay-1 {
  transition-delay: 0.25s !important;
}

.delay-2 {
  transition-delay: 0.5s;
}

.delay-3 {
  transition-delay: 0.75s;
}

.delay-4 {
  transition-delay: 1s;
}

.delay-5 {
  transition-delay: 1.25s;
}

.test {
  border: 1px solid red;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: blue;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-inner.hb-black, .hamburger-inner.hb-black::before, .hamburger-inner.hb-black::after {
  background-color: #000;
}

.is-active:hover {
  opacity: 0.7;
}
.is-active .hamburger-inner,
.is-active .hamburger-inner::before,
.is-active .hamburger-inner::after {
  background-color: blue;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-wine-glass:before {
  content: "";
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../assets/fonts/webfonts/fa-solid-900.eot");
  src: url("../assets/fonts/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/webfonts/fa-solid-900.woff2") format("woff2"), url("../assets/fonts/webfonts/fa-solid-900.woff") format("woff"), url("../assets/fonts/webfonts/fa-solid-900.ttf") format("truetype"), url("../assets/fonts/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}
.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.col {
  display: block;
  padding-right: 12px;
}
.col:last-child {
  padding-right: 0;
}

.five-cols .col {
  width: 20%;
}

.four-cols .col {
  width: 25%;
}

.three-cols .col {
  width: 33.33%;
}

.two-cols .col {
  width: 50%;
}

.fifths .col {
  width: 20%;
}

.two-thirds {
  width: 66.66%;
}

.one-third {
  width: 33.33%;
}

@media only screen and (max-width: 720px) {
  .two-thirds {
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  .two-thirds {
    width: 100%;
  }
}
.row,
.flex,
.row-m,
.row-s,
.row-l,
.main-navigation ul,
.row-xl {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

@media screen and (max-width: 1200px) {
  .row-xl {
    flex-direction: column;
  }
  .row-xl .col {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .row-l, .main-navigation ul {
    flex-direction: column;
  }
  .row-l .col, .main-navigation ul .col {
    width: 100%;
  }
  .row-l .align-right, .main-navigation ul .align-right {
    text-align: left;
  }
}
@media screen and (max-width: 720px) {
  .row-m {
    flex-direction: column;
  }
  .row-m .col {
    width: 100%;
  }
  .row-m .align-right {
    text-align: left;
  }
}
@media screen and (max-width: 500px) {
  .row-s {
    flex-direction: column;
  }
  .row-s .col {
    width: 100%;
  }
  .row-s .align-right {
    text-align: left;
  }
}
.grid {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

@media screen and (max-width: 900px) {
  .row-l, .main-navigation ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .grid {
    display: flex;
  }
}
section {
  overflow: hidden;
  position: relative;
}

.grey-bg {
  background: #f0f0f0;
}

.grey-bg--bottom {
  position: relative;
  background: white;
  background: linear-gradient(0deg, #f0f0f0 calc(50% + 4rem), white 50%);
  z-index: 1;
}

.grey-bg--bottom--qtr {
  position: relative;
  background: white;
  background: linear-gradient(0deg, #f0f0f0 calc(25% + 4rem), white 75%);
  z-index: 1;
}

.grey-bg--top {
  background: #f0f0f0;
  background: linear-gradient(0deg, white 50%, #f0f0f0 50%);
}

.grey-bg--top--qtr {
  background: #f0f0f0;
  background: linear-gradient(0deg, white 75%, #f0f0f0 25%);
}

.gutter {
  margin-bottom: 2rem;
}

.half-gut {
  margin-bottom: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-right: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 4rem;
}

@media screen and (max-width: 900px) {
  .row-l .col, .main-navigation ul .col {
    margin-right: 0;
  }
}
@media screen and (max-width: 720px) {
  .row-m .col {
    margin-right: 0;
  }
}
@media screen and (max-width: 720px) {
  .row-s .col {
    margin-right: 0;
  }
}
/* Nav */
.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: #efefef;
}
.site-header .flex {
  justify-content: space-between;
}

@media screen and (min-width: 900px) {
  .main-navigation {
    height: 100%;
    align-items: center;
  }
  .main-navigation ul {
    align-items: center;
    height: 100%;
  }

  .page_item {
    margin-left: 3vw;
  }
}
@media screen and (max-width: 900px) {
  .sidenav {
    max-width: 400px;
    border-right: #333 solid 4px;
    background-color: #eee;
    font-size: 1.3rem;
    padding: 2rem 0;
  }

  .sidenav .page_item {
    margin-left: auto;
    text-align: right;
    border-bottom: 1px solid #0030ff;
    min-width: 200px;
  }
  .sidenav .page_item a:hover {
    padding-right: 1rem;
    transition: 0.2s;
  }

  .sidenav .site-branding {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    margin: 2rem 2rem;
    display: block;
    margin-left: auto;
  }

  .sidenav {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: -9999px;
    width: 0px;
    height: 100%;
    z-index: 9999;
  }
  .sidenav ul {
    height: 100%;
  }
  .sidenav .page_item {
    color: #0030ff;
    transition: 0.2s;
  }
  .sidenav .page_item a {
    padding: 2vh 0;
    display: block;
    text-decoration: none;
  }
  .sidenav .page_item a:hover {
    padding-right: 1rem;
    transition: 0.2s;
  }
  .sidenav .page_item:hover,
.sidenav .current_page_item {
    color: white;
    transition: 0.2s;
  }

  .sidenav-open .sidenav {
    padding: 2rem 2rem;
    left: 0;
    width: 100%;
    transition: width 0.5s, padding 0.5s;
  }
}
@media screen and (max-width: 500px) {
  .sidenav-open .sidenav {
    padding: 5rem 2rem;
  }
}
/*
------------------------------------------------
   Navicon
------------------------------------------------
*/
#navicon:focus {
  outline: 0;
}

#navicon {
  margin-left: auto;
  z-index: 9999;
}

@media screen and (min-width: 900px) {
  #navicon {
    display: none;
  }
}
.site-branding {
  max-width: 55px;
}
.site-branding a {
  display: block;
}
.site-branding a img {
  object-fit: contain;
}

/* banners */
.hero {
  height: 600px;
}

.hero {
  height: 600px;
}

/* buttons */
.btn {
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.btn-3d {
  box-shadow: 2px 2px #0030ff;
}
.btn-3d:active {
  box-shadow: 0px 0px;
  transform: translate(2px, 2px);
}

a.link,
.link {
  color: #0030ff;
  text-decoration: underline;
}

/* forms */
input,
textarea {
  margin-top: 1rem;
  display: block;
  border: none;
  position: relative;
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 200;
  border-radius: 5px;
}

textarea {
  width: 100%;
  font-family: inherit;
  border-radius: 5px;
}

.checkers {
  clear: both;
  display: block;
}

.checkbox {
  float: left;
  width: 20px;
  height: 20px;
}

.check-label {
  float: left;
  font-size: 0.8em;
}

.checkboxes {
  margin-bottom: 2em;
}

.sf-field-category .sf-input-radio {
  visibility: hidden;
  visibility: hidden;
  height: 0;
}
.sf-field-category .sf-label-radio {
  cursor: pointer;
}
/* forms */
.span-author {
  color: #959595;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.open-quotes::before {
  display: block;
  content: "“";
}

.close-quotes::after {
  display: block;
  content: "”";
}

.middot::after {
  content: " ·";
  margin: 0 1rem;
  font-size: 2rem;
}

.span-underline {
  top: -10px;
  padding-bottom: -10px;
  background-image: linear-gradient(#00000000 50%, #0030ff 50%);
  background-position: 0 100%;
  /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in, background-position 0s 0.3s ease-in;
  /*change after the size immediately*/
}
.span-underline:hover {
  background-position: 100% 100%;
  /*OR bottom right*/
  background-size: 100% 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.ul {
  text-decoration: underline;
}

.span-900 {
  font-weight: 900;
}

.span-600 {
  font-weight: 600;
}

.span-400 {
  font-weight: 400;
}

.span-200 {
  font-weight: 200;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #fff;
  margin: 1em 0;
  padding: 0;
}

.triangle {
  position: relative;
  background-color: orange;
  text-align: left;
}

.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
  width: 1.5em;
  height: 1.5em;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.bg-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.fourthree {
  padding-bottom: 100%;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-default, .icon:before, .icon-before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-before {
  content: "";
  position: relative;
  display: inline-block;
}

.icon:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
}