$padding: 6rem 6vw;
$wrap-width-large: 1250px;
$wrap-width-small: 1010px;

$nav-height: 95px;

$bp-xl: 1200px;
$bp-l: 900px;
$bp-m: 720px;
$bp-s: 500px;

.padding {
  padding: 4rem 0;
}
.no-pad {
  padding-top: 0;
}

section,
footer {
  padding: $padding;
}

header {
  padding: 10px 6vw;
}

@media screen and (max-width: $bp-xl) {
  section,
  footer {
    height: unset;
    min-height: 100%;
    padding: 4rem 4vw;
  }
  header {
    padding: 10px 4vw;
  }
}
@media screen and (max-width: $bp-m) {
  .padding {
    padding: 2rem 0;
  }
  section,
  footer {
    padding: 2rem 2rem;
  }
  header {
    padding: 10px 2rem;
  }
}
@media screen and (max-width: $bp-s) {
  .padding {
    padding: 2rem 0;
  }
  section,
  footer {
    padding: 4rem 1rem;
  }
  header {
    padding: 10px 1rem;
  }
}
