$blue: #0030ff;
$text-default: #28354f;
$black: #000;
$offblack: #101010;
$yellow: #ffde00;
$grey: #f0f0f0;
$text-grey: #959595;

:root {
  background-color: white;
}

.white-bg {
  background-color: white;
}
.blue-bg {
  background-color: #27354f;
  color: white;
}

.grey-bg {
  background-color: $grey;
}
