$blue: #005392;
$blue-light: #0074cd;
$blue-grey: #ebf1f6;
$mask: #121212aa;
$menu: #121212ee;

$yellow: #ebc817;
$yellow-house: #fcdd3d;
$grey: #eeeeee;
$text-grey: #959595;

:root {
  background-color: $grey;
}

.white-bg {
  background-color: white;
}
