$blue: #0030ff;
$blue-light: #0030ff;
$blue-grey: #ebf1f6;
$mask: #121212aa;
$menu: #121212ee;

$yellow: #ebc817;
$yellow-house: #fcdd3d;
$grey: #f0f0f0;
$text-grey: #959595;

:root {
  background-color: white;
}

.white-bg {
  background-color: white;
}

.grey-bg {
  background-color: $grey;
}
