@font-face {
  font-family: "Graphik";
  font-weight: normal;
  src: url("fonts/commercial-type-2007-BJTQBX-desktop/graphik/Graphik-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-weight: bold;
  src: url("fonts/commercial-type-2007-BJTQBX-desktop/graphik/Graphik-Semibold.otf")
    format("opentype");
}
@font-face {
  font-family: "Compacta";
  font-weight: normal;
  src: url("fonts/Compacta Regular/ITC - CompactaPro-Regular.otf")
    format("opentype");
}

$font-primary: "Graphik"; //, Helvetica, arial, sans-serif;
$font-secondary: "Compacta"; //, Helvetica, arial, sans-serif;

$p-xl: 1.6rem;
$p-large: 1.2rem;
$p-small: 0.9rem;

$line-height: 1.6rem;

body {
  color: #000e1e;
  font-weight: 300;
  font-family: $font-primary;
}

h1 {
  font-family: $font-secondary;
  line-height: 3.4rem;
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  line-height: $line-height;
  font-weight: 200;
}

strong {
  font-weight: 600;
}

html {
  font-size: 17px;
}

.p-l {
  font-size: $p_large;
}
.p-xl {
  font-size: $p_xl;
}
.p-s {
  font-size: 0.75rem;
}
