@import url("https://use.typekit.net/kbt5rwb.css");

$font-primary: rajdhani, sans-serif; //, Helvetica, arial, sans-serif;
$font-secondary: arial, cursive;
$text-head: 4rem;
$text-xl: 1.6rem;
$text-large: 1.3rem;
$text-small: 0.9rem;

$line-height: 1.8rem;

body {
  color: $text-default;
  font-weight: 500;
  font-family: $font-primary;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  line-height: $line-height;
  font-weight: 200;
  margin-bottom: 1rem;
}

strong {
  font-weight: 600;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #fff;
  margin: 1em 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
}

@media screen and (max-width: $btext-m) {
  html,
  body {
    font-size: 17px;
  }
}
@media screen and (max-width: $btext-s) {
  html,
  body {
    font-size: 16px;
  }
}

.text-head {
  font-size: $text-head;
}
.text-xl {
  font-size: $text-xl;
}
.text-l {
  font-size: $text-large;
  line-height: 2.1rem;
}
.text-s {
  font-size: 0.75rem;
}

.font-secondary {
  font-family: $font-secondary;
}
