.row,
.flex,
.row-m,
.row-s,
.row-l,
.row-xl {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}

@media screen and (max-width: $bp-xl) {
  .row-xl {
    flex-direction: column;
  }
  .row-xl {
    .col {
      width: 100%;
    }
  }
}
@media screen and (max-width: $bp-l) {
  .row-l {
    flex-direction: column;
    .col {
      width: 100%;
    }
  }
}
@media screen and (max-width: $bp-m) {
  .row-m {
    flex-direction: column;
    .col {
      width: 100%;
    }
  }
}
@media screen and (max-width: $bp-s) {
  .row-s {
    flex-direction: column;
    .col {
      width: 100%;
    }
  }
}
