@import "cols";
@import "sections";

.cf {
  position: relative;
}

.cf:after {
  content: "";
  display: table;
  width: 100%;
  height: 1px;
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

.wrap {
  max-width: $wrap-width-large;
  margin: 0 auto;
  position: relative;
}

.wrap-tight {
  max-width: $wrap-width-small;
  margin: 0 auto;
  position: relative;
}

.row,
.flex,
.row-m,
.row-s,
.row-l {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  // Fallback
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

@media screen and (max-width: $bp-l) {
  .row-l {
    flex-direction: column;
  }
}
@media screen and (max-width: $bp-m) {
  .grid {
    display: flex;
  }
  .row-m {
    flex-direction: column;
  }
}
@media screen and (max-width: $bp-s) {
  .row-s {
    flex-direction: column;
  }
}
