section {
  overflow: hidden;

  position: relative;
}

.section-mid {
  height: 85vh;
  min-height: 450px;
}

.section-link {
  position: relative;
  display: inline-block;
  flex-direction: column;
  width: 100%;
}
