@import "wpcf7";
@import "search";

.form {
  p {
    font-size: $p_large;
  }

  li {
    font-size: 1.6rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: $bp-l) {
  .form {
    .info {
      margin-bottom: 2rem;
      p {
        margin-top: 5px;
        padding: 0 10px;
      }
      ul {
        margin: 2rem 0;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        li {
          font-size: 1.2rem;
          margin: 0;
        }
      }
    }
  }
}

.checkers {
  clear: both;
  display: block;
}

.checkbox {
  float: left;
  width: 20px;
  height: 20px;
}

.check-label {
  float: left;
  font-size: 0.8em;
}

.checkboxes {
  margin-bottom: 2em;
}
