@import "wpcf7";

label {
  display: block;
  // margin: 10px 0;
}

input {
  width: 100%;
  padding: 13px;
  background-color: #313132;
  color: white;
  border: 1px solid #767676;
}

input[type="file"] {
  padding: 10px;
}

form {
  height: 100%;
  .col {
    padding: 5px;
    label {
      margin-top: 1rem !important;
      margin-bottom: 10px;
    }
  }

  .btn-submit {
    margin: 1rem 0 0 10px;
  }
}

.checkers {
  clear: both;
  display: block;
}

.checkbox {
  float: left;
  width: 20px;
  height: 20px;
}

.check-label {
  float: left;
  font-size: 0.8em;
}

.checkboxes {
  margin-bottom: 2em;
}
