.form {
  display: flex;
  h2 {
    color: $blue;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: $bp-m) {
  .form {
    img {
      display: none;
    }
  }
}

.wpcf7 {
  br {
    display: none;
  }
  label {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
  }
}
.wpcf7-form-control {
  display: inline-block;
}

.field {
  display: flex;
  justify-content: space-between;
  input {
    margin-bottom: 2rem;
    padding: 10px;
    display: inline-block;
  }
}

.wpcf7-submit {
  @extend .btn-submit;
}

.submit-container {
  display: flex;
}
