.text-block--case-study {
  ul > li {
    list-style: inside;
    line-height: $line-height;
  }
  .row {
    padding: 1rem;
  }
  .icon {
    margin-top: 1rem;
  }
  .text-container {
    margin-left: 2rem;
    h4 {
      color: $blue;
      margin: 1rem 0;
    }
  }
}
