.text-block__homepage {
  p {
    font-size: $p-large;
    max-width: 700px;
  }
}

.text-block__homepage--link {
  p {
    float: left;
  }

  a.btn-link {
    margin-left: auto;
  }
}

@media screen and (max-width: $bp-m) {
  .text-block__homepage--link {
    p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
