.text-block__homepage {
}

.text-block__homepage--link {
  a.btn-link {
    margin-left: auto;
  }
}

@media screen and (max-width: $bp-s) {
  .text-block__homepage--link {
    p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
