.testimonial {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  .stripe {
    background-color: $blue-grey;
    padding: 3rem;
    text-align: center;
    font-size: 1.3rem;
    color: $blue;
  }

  p.span-author {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }

  .open-quotes,
  .close-quotes {
    position: absolute;
    font-size: 10rem;
    font-weight: 600;
  }

  .open-quotes {
    top: -15px;
    left: -55px;
  }
  .close-quotes {
    bottom: -125px;
    right: -50px;
  }
}
