.testimonial {
  // background-color: white;
  border: 1px solid red;
  padding-left: 2rem;
  font-size: 18px;
  height: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    line-height: 2rem;
  }
  .open-quotes {
    font-family: $font-primary;
    width: 55px;
    height: 55px;
    font-size: 8rem;
  }
}

.swiper-testimonial {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  .testimonial {
    background-color: $grey;
  }
}
