.testimonial {
  padding-left: 2rem;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__body {
    margin: 3rem 0;
  }
  .open-quotes {
    display: block;
    font-family: $font-primary;
    width: 55px;
    height: 55px;
    font-size: 8rem;
  }
}

.swiper-testimonial {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  .testimonial {
    height: 100% !important;
    background-color: $grey;
  }
}
