.textblock-content {
  display: flex;
  .post-meta {
    position: relative;
    width: 350px;
    line-height: 2rem;
    padding-right: 4rem;

    .categories {
      margin: 3rem 0;
    }

    .author {
      img {
        margin: 1rem 0;
      }
    }
  }

  .body {
    display: block;
    width: 100%;
    p {
      margin-bottom: 1rem;
    }
    .content {
      ul {
        li {
          line-height: 2rem;
          vertical-align: middle;
          &::before {
            margin-right: 1rem;
            content: "▪";
            color: #eaeaea;
            font-size: 2rem;
          }
        }
      }
      hr {
        margin: 3rem 0;
        border-top: 1.2rem solid $grey;
        height: 1px;
      }
    }

    .shares {
      margin-top: 8rem;
      li {
        line-height: 1.5rem;
      }
    }
  }
}
