.banner {
  height: 100vh;
  min-height: 600px;
  justify-content: space-between;
  display: flex;
  color: white;
  padding-top: 200px;

  .scroll-down {
    cursor: pointer;
    margin-top: 2rem;
  }
}

.banner--small {
  @extend .banner;
  min-height: unset;
  height: 500px;
  display: relative;
}
@media screen and(max-width: $bp-l) {
  .banner {
    padding-top: 95px;
    height: 100%;
    .scroll-down {
      font-size: 0.9rem;
      letter-spacing: 1px;
    }
  }
}

.skyline {
  position: absolute;
  bottom: -30px;
  right: -25px;
  width: 300px;
  height: 125px;
}
