.banner {
  height: 100vh;
  min-height: 600px;
  color: white;
  justify-content: center;
  .text__container {
    width: 100%;

    margin: 0;
    z-index: 1;
    max-width: $wrap-width-large;
    h1 {
      font-family: $font-secondary;
      font-weight: unset;
      font-size: 8rem;
      text-transform: uppercase;
      line-height: 8rem;
    }
    p {
      @extend .two-thirds;
    }
  }
}

.banner--small {
  @extend .banner;
  min-height: unset;
  height: 500px;
  display: relative;
}

.skyline {
  position: absolute;
  bottom: -30px;
  right: -25px;
  width: 300px;
  height: 125px;
}
