.banner-project {
  padding-top: 4rem;
  color: black;
  position: relative;

  gap: 1rem;
  p {
    width: 50%;
  }
  .row {
    width: 100%;
    justify-content: space-between;
    height: 100%;
  }
  .banner-points {
    ul {
      line-height: 2rem;
    }
    width: 500px;
    margin-left: 2rem;
  }
}

@media screen and (max-width: $bp-l) {
  .banner-project {
    p {
      width: 75%;
    }
    .row {
      flex-direction: column;
      // border: 1px solid red;
    }

    .banner-points {
      width: 100%;
      margin-left: auto;
      text-align: right;
      margin-top: 3rem;
      ul {
        width: 100%;
      }
    }
  }
}

.project-title {
  top: 0;
  left: 0;

  width: 200%;
  text-overflow: clip;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  font-style: $font-secondary;
}

.project-marquee-container {
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.swiper-project-title {
  position: relative;
  .swiper-slide {
    min-width: 30px;
    padding: 0;
    margin: 0;
    font-size: 15rem;
    color: $grey;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    width: unset;
  }
  position: relative;
  .swiper-slide.space {
    min-width: 60px;
  }
}
