@import url("https://use.typekit.net/avp5hnx.css");

$line-height: 1.6rem;

body,
html {
}

body {
  color: #000e1e;
  font-weight: 200;
  font-family: neusa-next-std, sans-serif;
}

h1 {
  font-size: 3.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  line-height: $line-height;
  margin-bottom: 1rem;
  font-weight: 200;
}
