.bg-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.fourthree {
  padding-bottom: 100%;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
