.rics-logo {
  width: 200px;
}

.footer-logo {
  width: 325px;
}

.header-logo {
  height: 50px;
  width: auto;
}
@media screen and (max-width: $bp-m) {
  .header-logo {
    height: 35px;
    width: auto;
  }
}
