footer {
  background-color: $blue;
  font-size: 0.8rem;
  height: 400px;
  color: white;

  strong {
    font-weight: 600;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .row {
    &:nth-child(1) {
      border-bottom: 1px solid white;
    }

    justify-content: space-between;
    padding: 1rem 0;
    .social-btns {
      margin-top: auto;
      .btn-social {
        margin-left: 35px;
      }
    }
  }
}
