.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  .flex {
    justify-content: space-between;
  }
}

.main-navigation {
  height: 100%;
  align-items: center;
  ul {
    @extend .row-l;
    align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: $bp-l) {
  .page_item {
    margin-left: 3vw;
  }
}
