$header-bg: #efefef;

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  .flex {
    justify-content: space-between;
  }
  background-color: $header-bg;
}

.main-navigation {
  ul {
    @extend .row-l;
  }
}
@media screen and (min-width: $bp-l) {
  .main-navigation {
    height: 100%;
    align-items: center;
    ul {
      align-items: center;
      height: 100%;
    }
  }

  .page_item {
    // color: white;
    margin-left: 3vw;
  }
}
