.site-header {
  z-index: 9997;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  .nav-bar {
    max-width: $wrap-width-large;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row {
    align-items: center;
  }

  .btn-social {
    margin-left: 2vw;
  }
}

#nav-mask {
  background-color: #0004;
  opacity: 0;
  transition: 0.3s;
}

#nav-mask.mask {
  opacity: 1;
}

@media screen and (max-width: $bp-l) {
  .menu {
    flex-direction: column;
  }
  .social-btns {
    display: none;
  }
}
