$width: 100vw;

.sidenav {
  opacity: 0;
  transform: translateX(-$width);
  height: 100%;
  width: $width;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  padding-left: 2rem;
  background-color: $black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: opacity 0.5s;
  display: flex;
  justify-content: space-between;
}
.sidenav-open {
  .sidenav {
    opacity: 1;
    transform: translateX(0);
  }

  .site-branding {
    opacity: 0;
  }
}

/* The navigation menu links */
.sidenav .menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 2px;
  padding: 1.2rem 0rem;
  border-bottom: 1px solid $offblack;
  text-transform: lowercase;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav .menu a:hover {
  color: $yellow;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.main-navigation {
  width: 50%;
  padding-right: 4rem;
  min-width: 400px;
}

.header__contact {
  padding-right: 10vw;
  color: white;
  z-index: 9998;
  width: 50%;
  ul {
    font-size: 0.8rem;
    li {
      &:first-child {
        padding: 1.2rem 0rem;
      }
      line-height: $line-height;
      a {
        text-decoration: underline;
      }
    }
  }
  p {
    margin: 1.2rem 0;
    max-width: 400px;
  }
}

@media screen and (max-width: $bp-m) {
  .header__contact {
    display: none;
  }
}
