.btn-social {
  width: 35px;
  height: 35px;
  background-color: white;
  margin-bottom: 10px;
  display: inline-block;
  svg {
    fill: $blue;
  }

  border: 1px solid white;

  &:hover {
    transition: 0.3s;
    width: 37px;
    height: 37px;
  }
}

#insta {
  stroke: $blue;
  .st0 {
    fill: white;
  }
}

.btn-submit {
  background-color: $blue;
  padding: 10px 2rem;
  border: 0;
  color: white;
  font-size: 1.2rem;
  width: 175px;
  margin-top: 1rem;
  margin-left: auto;
}
