a.link {
  color: $blue;
  text-decoration: underline;

  &:hover {
    color: $blue-darken;
  }
}

a.btn-link {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 225px;
  padding: 15px 1.5rem;
  border-radius: 50px;
  color: $blue;
  background-color: grey;
  border: 2px solid $blue;
  background-color: white;

  &:after {
    content: "";
    display: inline-block;
    margin-left: 1.2rem;
    width: 27px;
    height: 20px;
    background-image: url("./icons/arrow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
  }

  &:hover {
    border-color: #333;
    color: #333;
    &::after {
      transition: 0.2s;
      margin-left: 1.5rem;
    }
  }
}

.scroll-down {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  &::before {
    @extend .icon-before;
    background-image: url("../../../images/scroll-down.png");
    width: 27px;
    height: 27px;
    margin-right: 12px;
    top: 7px;
  }
}

.socials {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .btn {
    margin: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 55px;
    height: 55px;
    border: 1px solid #66b0db;
    transition: color 0.3s, font-size 0.3s;
    &:hover {
      color: #eee;
      font-size: 1.4rem;
    }
  }
}
