$btn-radius: 50px;
$btn-border: 3px solid;

a.link {
  color: $blue-light;
  text-decoration: underline;

  &:hover {
    color: $blue-darken;
  }
}

.btn {
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: $btn-radius;
}

.btn-link,
a.btn-link {
  padding: 15px 1.5rem;
  max-width: 235px;
  color: $blue;
  border: $btn-border $blue;
  background-color: white;
  cursor: pointer;
  &:after {
    @extend .fa;
    @extend .fa-chevron-right;
    color: $blue;
    display: inline-block;
    margin-left: 2rem;
    transition: 0.2s;
  }

  &:hover {
    background-color: $blue;
    text-decoration: none;
    color: white;
    &::after {
      color: white;
      transition: 0.2s;
      margin-left: 2.2rem;
    }
  }
}

.link--category {
  color: #cacaca;
  justify-content: center;
  border: $btn-border $grey;
  font-size: 0.75rem;

  margin-bottom: 1rem;
}

.scroll-down {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  &::before {
    @extend .icon-before;
    background-image: url("../../../images/scroll-down.png");
    width: 27px;
    height: 27px;
    margin-right: 12px;
    top: 7px;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
