$box-width: 235px;
.loop-case-studies {
  .loop {
    grid-auto-rows: $box-width;
    li {
      height: $box-width;
      .thumb {
        width: $box-width;
        min-width: $box-width;
      }
    }
  }
  .text-container {
    padding: 2rem;
    width: 100%;
    hr {
      margin: 1.2rem 0rem;
    }
    p {
      color: $text-grey;
    }
    .span-author {
      font-size: 0.8rem;
      position: absolute;
      bottom: 0;
    }
  }
}
@media screen and (max-width: $bp-xl) {
  .loop-case-studies {
    .loop {
      display: flex;
      flex-direction: column;
      li {
        flex: 1;
      }
    }
  }
}
