@import "swiper";
@import "posts";

.loop-container {
  display: flex;
  justify-content: center;
}
.loop-container--grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.client-logo {
  margin: 10px;
  max-width: 175px;
}

.info {
  hr {
    width: 50%;
  }
  height: 150px;
  width: 215px;
}
@supports (gap: 1) {
  .loop-container--grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .client-logo {
    margin: 0;
  }
}

@media screen and (max-width: $bp-xl) {
  .loop-container--grid {
    justify-content: center;
  }

  .info {
    width: 250px;
    margin: 0 1rem;
  }

  .client-logo {
    max-width: 125px;
  }
}
@media screen and (max-width: $bp-m) {
  .loop-container--grid {
    justify-content: space-evenly;
  }
  .info {
    width: 200px;
    height: auto;
    margin: 0 10px;
  }
}
