.loop--two-col {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-bottom: 1rem;
    &:nth-child(2n + 1) {
      padding-right: 0.5vw;
    }
    &:nth-child(2n) {
      padding-left: 0.5vw;
    }
    width: 50%;
  }
}

.hover-card {
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: $blue;
    opacity: 1;
  }

  .hover-card__link {
    width: 150%;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    display: inline-flex;
    bottom: 10px;
    left: -50px;
    z-index: 2;
    opacity: 0;
    padding: 0 15px;
    &::after {
      @extend .icon;
      content: "";
      background-image: url("./icons/arrow-blue.jpg");
      margin-left: auto;
    }
  }

  &:hover {
    &:after {
      width: 100%;
      height: 100%;
      transition: 0.25s ease-out;
    }

    .hover-card__link {
      width: 100%;
      left: 0;
      opacity: 1;
      transition: 0.5s;
    }
  }
}

.post-slide {
  p {
    margin-top: 1rem;
  }
}
