.services {
  // padding-top: 0;
  .title-block {
    background-color: $blue;
    width: 100%;
    padding: 1rem;
    color: white;
  }

  .text-container {
    padding: 1rem;
    max-width: 400px;
  }
}

@media screen and (max-width: $bp-m) {
  .services {
    .loop {
      display: flex;
      flex-direction: column;
      li {
        flex: 1;
        height: 150px;
      }
    }
  }
}
