.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.ul {
  text-decoration: underline;
}

.span-900 {
  font-weight: 900;
}
.span-600 {
  font-weight: 600;
}

.span-400 {
  font-weight: 400;
}
.span-200 {
  font-weight: 200;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #fff;
  margin: 1em 0;
  padding: 0;
}
