footer {
  font-size: 0.8rem;
  height: 215px;
  color: white;
  font-weight: 100;
  line-height: $line-height;
  .link {
    color: $blue;
  }
}

@media screen and (max-width: 940px) {
  footer {
    height: 100%;
    padding: $padding;
    .col {
      width: 100%;
    }
  }

  .logo--large {
    margin-top: 2rem;
  }
}
