.logo {
  svg {
    height: 2rem;
    fill: $blue;
  }
  h1 {
    text-transform: lowercase;
    margin-left: 15px;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
}
.logo--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  svg {
    height: 3rem;
    fill: $blue;
  }
  h1 {
    text-transform: lowercase;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 1px;
  }
}
